BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 90
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
